.browseContainer{
    width: 80%;
    text-align: center;
    background-color: #efebeb;
    display: grid;
    grid-template-columns: 7rem auto;
    grid-column-gap: 1rem;
    justify-items: center;
    align-items: center;
    border-radius: 10px;
    padding: 0.5rem;
}



.uploadContainer p{
    color: #ee4c74;
    font-family: 'Montserrat', sans-serif;
}

.browseContainer p{
    margin: 0;
    color: #6e6d6d;
    font-family: 'Montserrat', sans-serif;
}

.uploadContainer{
    width: 100%;
    display: grid;
    grid-template-rows: 4rem 3rem 3rem;
    grid-row-gap: 1rem;
    grid-auto-rows: 4rem;
    justify-items: center;
    align-items: center;
}

.uploadContainer button{
    font-size: 1rem;
    width: 5rem;
    max-height: 2rem;
    height: 2rem;
    border-width: 0 ;
    border-radius: 5px;
    background-color: #ee4c74;
    font-family: 'Noto Sans', sans-serif;
    color: white;
}

.uploadContainer button:hover,
.uploadContainer button:hover {
    color: #ee4c74;
    background-color: white;
    border: #ee4c74 2px solid;
}
